* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #2a2a72;
  color: #fff;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: #4c2885;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 16px;
  margin-bottom: 32px;
  font-family: inherit;
  font-size: 16px;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input:focus {
  outline: 0;
}

.user-form input::-webkit-input-placeholder {
  color: #bbb;
}

.user-form input:-ms-input-placeholder {
  color: #bbb;
}

.user-form input::-ms-input-placeholder {
  color: #bbb;
}

.user-form input::placeholder {
  color: #bbb;
}

.card {
  max-width: 800px;
  background-color: #4c2885;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  padding: 48px;
  margin: 0 8px;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #2a2a72;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 32px;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info ul li strong {
  font-size: 14px;
  margin-left: 8px;
}

.repo {
  text-decoration: none;
  color: white;
  background-color: #212272;
  font-size: 13px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}

@media (max-width: 500px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user-form {
    max-width: 400px;
  }
}
/*# sourceMappingURL=style.css.map */