* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #333;
  color: #222;
}

img {
  max-width: 100%;
}

.container {
  background-color: #fafafa;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: 0.5s linear transform;
  transition: 0.5s linear transform;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transition: 0.5s linear transform;
  transition: 0.5s linear transform;
}

.container.show-nav + nav li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: 0.5s ease-in transform;
  transition: 0.5s ease-in transform;
}

.container.show-nav .circle {
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle-container .circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.circle-container .circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.circle-container .circle button:focus {
  outline: 0;
}

.circle-container .circle button#open {
  left: 60%;
}

.circle-container .circle button#close {
  top: 60%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: 0.5s linear transform;
  transition: 0.5s linear transform;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.4s ease-in transform;
  transition: 0.4s ease-in transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav ul li i {
  margin-right: 10px;
  font-size: 20px;
}

nav ul li + li {
  margin-left: 15px;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */