* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.magic {
  background-color: #f9ca24;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  z-index: 100;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: none;
    transform: translateY(2px);
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
  &.big {
    width: 600px;
    height: 600px;
    .box {
      transform: rotateZ(360deg);
    }
  }
}

.box {
  background-image: url("https://media.giphy.com/media/jUDvU0mBA9trNjOV3e/giphy.gif");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
  &::after {
    content: "";
    background-color: #1d1d1d;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
  }
  &::before {
    content: "";
    background-color: #333333;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
  }
}
