* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rebeccapurple;
  color: #fff;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
  &:hover {
    opacity: 0.9;
  }
  &:focus {
    outline: none;
  }
}
