$leftBgColor: rgba(87, 84, 236, 0.7);
$rightBgColor: rgba(43, 43, 43, 0.8);
$leftBtnColor: rgba(87, 84, 236, 1);
$rightBtnColor: rgba(28, 122, 28, 1);

$hoverWidth: 75%;
$otherWidth: 25%;
$speed: 1000ms;

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  width: 15rem;
  padding: 1.5rem;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s linear background;
  &:hover {
    transition: 0.2s linear background;
  }
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &.left {
    left: 0;
    background-image: url("ps.jpg");

    &::before {
      content: "";

      background-color: $leftBgColor;
    }

    .btn:hover {
      background: $leftBtnColor;
    }
  }

  &.right {
    right: 0;
    background-image: url("xbox.jpg");

    &::before {
      content: "";

      background-color: $rightBgColor;
    }

    .btn:hover {
      background: $rightBtnColor;
    }
  }
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all $speed ease-in-out;
}

h1 {
  margin: 0;
}

.container {
  &.hover-left {
    .left {
      width: $hoverWidth;
    }
    .right {
      width: $otherWidth;
    }
  }
  &.hover-right {
    .left {
      width: $otherWidth;
    }
    .right {
      width: $hoverWidth;
    }
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }
  .btn {
    width: 12rem;
    padding: 1.2rem;
  }
}
