* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: steelblue;
  color: #fff;
  font-family: "Muli", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    color: lightblue;
  }
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;

  input {
    z-index: 5;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 18px;
    &:focus,
    &:valid {
      outline: 0;
      border-bottom-color: lightblue;

      + label span {
        color: lightblue;
        transform: translateY(-30px);
      }
    }
  }

  label {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    top: 15px;
    left: 0;

    span {
      display: inline-block;
      font-size: 18px;
      min-width: 5px;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

.text {
  margin-top: 30px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  &:focus {
    outline: 0;
  }
  &:active {
    transform: scale(0.95);
    transform-origin: center;
  }
}
